@model MovieStore.Core.Entities.Movie

@{
    ViewBag.Title = "Movie Details";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row bg-dark text-light">
        <div class="col-3 px-0">
            <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title">
        </div>
        <div class="col-6 card bg-dark text-light pt-3 mt-4 border-dark">
            <h2 class="card-title">@Model.Title</h2>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Tagline</h6>
            <h6 class="card-subtitle mb-2 text-muted">@Model.RunTime m | @Model.CreatedDate?.Year</h6>
            <h6 class="card-subtitle mb-2">
                <span class="badge badge-warning">@Model.Rating</span>
            </h6>
            <p class="card-body">@Model.Overview</p>
        </div>
        <div class="col-3 pt-4 mt-5">
            <form>
                <button type="submit" class="btn btn-sm btn-outline-light mb-5"><a><i class="far fa-heart"></i></a></button>
            </form>
            
            <a class="btn btn-block btn-outline-light mb-3"> <i class="fas fa-edit"></i>&nbsp; REVIEW </a>
            <a class="btn btn-block btn-outline-light mb-3"><i class="fas fa-play"></i>&nbsp; TRAILER</a>
            <a class="btn btn-block btn-outline-light"><i class="fas fa-shopping-cart"></i>&nbsp; BUY</a>
        </div>
    </div>
    
    <div class="row pt-3 px-0">
        <div class="col-md-3">
            <div class="card border-top-0 border-left-0 border-right-0 shadow-sm">
                <h4 class="card-title pt-2 pl-2">Movie Facts</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="far fa-calendar-alt"></i>&nbsp; Release Date &nbsp; <span class="badge badge-dark"> @Model.CreatedDate?.ToString("MMM dd, yyyy") </span> </li>
                    <li class="list-group-item"><i class="fas fa-hourglass-half"></i>&nbsp; Run Time &nbsp; <span class="badge badge-dark"> @Model.RunTime m </span></li>
                    <li class="list-group-item"><i class="fas fa-money-bill"></i>&nbsp; Box Office &nbsp; <span class="badge badge-dark"> $@String.Format($"{Model.Budget:N2}") </span></li>
                    <li class="list-group-item"><i class="fas fa-dollar-sign"></i>&nbsp; Budget &nbsp; <span class="badge badge-dark"> $@String.Format($"{Model.Revenue:N2}") </span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card shadow-sm border-top-0 border-left-0 border-right-0">
                <h4 class="card-title pt-2 pl-2">Movie Cast</h4>
                @foreach (var mc in Model.MovieCasts)
                    {
                        <ul class="list-group list-group-horizontal">
                            <a class="list-group-item col-4" asp-controller="" asp-action=""> <img class="rounded-circle img-fluid w-25" src="@mc.Cast.ProfilePath" alt="@mc.Cast.Name" /> </a>
                            <a class="list-group-item col-4" asp-controller="" asp-action=""> @mc.Cast.Name </a>
                            <span class="list-group-item col-4"> @mc.Character </span>
                        </ul>
                    }
            </div>

        </div>
    </div>
</div>

